<!------------------------------
----- SEMANTIC@ - 2022       ---
-----      @    @            ---
----- @  @   @   @           ---
-----  ,_     _     @        ---
-----  |\\_,-~/  @           ---
-----  / _  _ |    ,--.      ---
----- (  @  @ )   / ,-'      ---
-----  \  _T_/-._( (         ---
-----  /         `. \        ---
----- |         _  \ |       ---
-----  \ \ ,  /      |       ---
-----   || |-_\__   /        ---
-----  ((_/`(____,-'         ---
-------------------------------->


<meta charset="UTF-8">
<meta author="Lucas Terriel <lucas.terriel@inria.fr>" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="viewport" content="width-device-with, initial-scale-1.0, maximum-scale-1.0, minimal-ui"/>
<link rel="shortcut icon" href="{{url_for('static', filename='images/cat.ico')}}">